[user]
  name = Constantinos Kouloumbris
  email = c@kouloumbris.com
  signingkey = A71BC59B4628E857
  username = ckr
[github]
  user = ckr
[commit]
  gpgSign = true
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = input
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = delta 
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[color]
  ui = auto
[push]
  default = matching
  autoSetupRemote = true
[branch]
  autosetuprebase = always
[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
[credential]
  helper = osxkeychain
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
  colorMoved = default
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
[alias]
  f = fetch
  w = worktree
  b = branch
  # h = head
  h = !git head
  # r = recent commits, only current branch
  r = !GIT_NO_PAGER=1 git l -30
  # l = all commits, only current branch
  l = "!. ~/.githelpers && pretty_git_log"

  fsb = "!. ~/.githelpers && fsb"
  info = remote -v

  cb = "! git-clone-bare-for-worktrees.sh"
  
  wa = "!. ~/.githelpers && worktree_add"
  wl = worktree list
  wr = worktree remove
  
  ls = ls-files
  
  st = status
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  
  ff = merge --ff-only
  fp = fetch -p
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin main
  pod = push origin develop
  
  ds = diff --stat=160,120
  dh1 = diff HEAD~1
  revision = describe --tags --always HEAD
  vc = verify-commit
  vch = verify-commit HEAD
  br = "!. ~/.githelpers && rename_branch"
  rso = remote set-url origin
  show-files = show --pretty="" --name-only
  pt = push --tags
  bs = "! git-branch-status"
  bsr = "! git-branch-status -r"
  bsa = "! git-branch-status -a"
  leaks = "! gitleaks detect -f sarif -s . -v --no-git --redact"

  # Divergence (commits we added and commits remote added)
  div = "!. git-divergence"

  # Goodness (summary of diff lines added/removed/total)
  gn = "! git-goodness"
  gnc = "! git-goodness --cached"

  # What the hell just happened and who has done it scripts
  what-the-hell-just-happened = "! git-what-the-hell-just-happened"
  whodoneit = "! git-whodoneit"

  # Fancy logging.
  head = !git r -1
  
  # hp = head with patch
  hp = "!. ~/.githelpers && show_git_head"
  
  # ra = recent commits, all reachable refs
  ra = !git r --all
  
  # la = all commits, all reachable refs
  la = !git l --all
